{% load static %}
<!DOCTYPE html>
<html dir="rtl" lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- ==== Document Title ==== -->
    <title>הדור החדש של יועצי הנדל״ן</title>

    <!-- ==== Document Meta ==== -->
    <meta name="author" content="">
    <meta name="description" content="">
    <meta name="keywords" content="">

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- ==== Favicon ==== -->
    <link rel="icon" href="{% static 'favicon.png/' %}" type="image/png">

    <!-- ==== Google Font ==== -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700%7CLobster">
    <!-- ==== Plugins Bundle ==== -->
    <link rel="stylesheet" href="{% static 'css/plugins.min.css/' %}">

    <!-- ==== Main Stylesheet ==== -->
    <link rel="stylesheet" href="{% static 'style.css/' %}">

    <!-- ==== Responsive Stylesheet ==== -->
    <link rel="stylesheet" href="{% static 'css/responsive-style.css/' %}">

    <!-- ==== Color Scheme Stylesheet ==== -->
    <link rel="stylesheet" href="{% static 'css/colors/color-1.css/' %}" id="changeColorScheme">

    <!-- ==== RTL Stylesheets ==== -->
    <link rel="stylesheet" href="{% static 'css/rtl-plugins.min.css/' %}">
    <link rel="stylesheet" href="{% static 'css/rtl-style.css/' %}">

    <!-- ==== Custom Stylesheet ==== -->
    <link rel="stylesheet" href="{% static 'css/custom.css/' %}">

    <!-- ==== HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries ==== -->
    <!--[if lt IE 9]>
        <script src="http://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="http://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>


{% block content %}

{% endblock %}

                <div class="footer--copyright text-lighter fw--500">
                    <p>  כל הזכויות שמורות &copy; <a href="#">Metroplois</a></p>
                </div>
                <!-- Footer Copyright End -->
            </div>
        </footer>
        <!-- Footer Section End -->
    </div>
    <!-- Wrapper End -->

    <!-- Back To Top Button Start -->
    <div id="backToTop">
        <a href="#banner" class="btn btn-default"><i class="fa fa-angle-double-up"></i></a>
    </div>
    <!-- Back To Top Button End -->

    <!-- ==== Plugins Bundle ==== -->
    <script src="{% static 'js/plugins.min.js/' %}"></script>

    <!-- ==== Main Script ==== -->
    <script src="{% static 'js/main.js/' %}"></script>

</body>
</html>
